body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align content */
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-container {
  margin-bottom: 20px;
  text-align: center;
}

.form-container input {
  margin: 0 10px;
  padding: 12px;
  width: calc(50% - 24px);
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-user-button {
  display: block;
  margin: 20px auto; /* Center align button and add space */
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #17a2b8; /* Turquoise */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-user-button:hover {
  background-color: #117a8b; /* Darker turquoise on hover */
}

.item-list {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Align item list content to the left */
}

.item-card {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-card input[type="text"] {
  width: calc(50% - 20px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.button-group {
  display: inline-block;
  margin-top: 10px;
}

.button-group button {
  margin-left: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-update {
  background-color: #28a745; /* Green */
  color: white;
}

.button-delete {
  background-color: #dc3545; /* Red */
  color: white;
}

.button-update:hover,
.button-delete:hover {
  opacity: 0.8;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
